#customToolbar123321 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #999;
}

#content {
    font-size: 26px;
    color: azure;
    margin-top: -10;
}